/*@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/

html {
    font-family: 'Roboto';
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
}

nav {
    background-color:#1F2937;
    color:#E5E7EB;
    height: 60px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color:#E5E7EB;
    text-decoration: none;
}

.nav1 ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-section {
    background-color: #1F2937;
    padding: 60px 20px;
}

.hero-container {
    display: flex;                 
    justify-content: space-between; 
    align-items: center;            
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
}

.hero-text {
    flex: 1;                      
}

.hero-text h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    display: flex;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin-bottom: 10px;
}

.hero-image {
    background-color: rgba(252, 248, 248, 0.3);
    padding: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 500px;
    color: #F9FAF8;
    height: 220px;
    display: flex;
    flex: 1;
    
}

.hero-image p {
    text-align: center;
    color: #E5E7EB;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.btn-primary {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 8px;
    width: 150px;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}
.features {
    padding: 60px 20px;
    background-color: #fff;
}
.features h2 {
    color: #1F2937;
    font-size: 36px;
    text-align: center;
    margin-bottom: 48px;
    font-weight: 900;

}

.feature-card {
    align-items: center;
    margin: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.illustration-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6; 
    border-radius: 15px;      
    margin-bottom: 8px;
}

figcaption {
    color: #4B5563; 
    font-size: 14px;
    line-height: 1.3;
}

.features-grid {
    display: flex;
    gap: 50px;
    justify-content: center;

}
.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.quote-author {
    font-weight: bold;
    color: #1F2937;
    display: block;
    text-align: right;
    margin-top: 10px;
}
.cta-section {
    margin: 20px;
    padding: 40px;
    max-width: 0 auto;
}
.cta-card {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.cta-text h3 {
    font-weight: bold;
    font-size: 18px;
}
.cta-text p {
    margin: 0;
    color: #E5E7EB;
    font-size: 14px;
}

.btn-outline {
    display: block;
    margin-left: auto;
    margin-right: 60px;
    color: #F9FAF8;
    justify-content: center;
    border: #F9FAF8 solid 2px;
    border-radius: 4px;
    font-weight: 700;
    padding: 8px;
    width: 100px;
    background-color: transparent;
    flex-shrink: 0;
    cursor: pointer;
}


footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    margin-top: 2em;
    padding: 1em 1em 1em;
    bottom: 0;
}